body {
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 80%;
  max-width: 79.375rem;
  margin-block-start: 3.875rem;
  grid-template-columns: 55% 1fr;
  grid-template-rows: repeat(3, min-content) 1fr 1fr;
  grid-column-gap: 3.5rem;
}

.site__logo {
  margin-block-end: 5rem;
  grid-column: span 2;
}
.site__logo > img {
  height: 3.125rem;
}
.site__title {
  margin-block-start: 2.5rem;
  font-size: 2.75rem;
  text-align: start;
}
.site__text {
  grid-column: 2;
  text-align: start;
  font-size: 1.125rem;
  margin-block-end: 1.2rem;
}

.hero-image {
  grid-row: span 3;
  margin-block: 0;
}

.social-media {
  grid-column: 2;
  margin-block: 1rem 2.5rem;
  margin-inline: auto 0;
}

.register-to-site {
  margin-inline-start: 0;
  padding-block: 1.2rem;
}
